* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #333;
  background-color: hsl(0, 0%, 10%);
  font-family: "Rajdhani", sans-serif;
  font-size: 3rem;
  color: white;
}

/* #main
/* ************************************************** */
#main {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* #main-header
/* ************************************************** */
#main-header {
  text-align: center;
}

.main-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 51px;
  text-transform: uppercase;
  color: #ffffff;
}

/* #main-nav
/* ************************************************** */
.subtext {
  color: #ccc;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* #main-content
/* ************************************************** */
.board {
  display: inline-grid;
  padding: 10px;
  grid-template-columns: repeat(var(--size), 60px);
  grid-template-rows: repeat(var(--size), 60px);
  gap: 4px;
  background-color: #777;
}

.board > * {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid #bbb;
  user-select: none;
}

.board > [data-status="hidden"] {
  background-color: #bbb;
  cursor: pointer;
}

.board > [data-status="mine"] {
  background-color: red;
}

.board > [data-status="number"] {
  background-color: none;
}

.board > [data-status="marked"] {
  background-color: yellow;
}
